name: "Create release"

on:
  push:
    tags:
      - '*'

concurrency: release

jobs:
  deploy:
    name: "Deploy"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v5"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.1"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress --no-suggest --no-dev"

      - name: Build phar
        run: |
          composer run box-install
          composer run box-build
          composer run box-info

      - name: "Create release"
        id: create-release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: drupalorg.phar
          token: ${{ secrets.GITHUB_TOKEN }}
          generate_release_notes: true
          fail_on_unmatched_files: true
