name: "Create release"

on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag/release to upload phar to (e.g. 1.2.3)'
        required: true
        type: string

concurrency: release

jobs:
  deploy:
    name: "Deploy"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag || github.ref_name }}

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "8.2"

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress --no-dev"

      - name: Build phar
        run: |
          composer run box-install
          composer run box-build
          composer run box-info

      - name: "Upload phar to release"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload "${{ inputs.tag || github.ref_name }}" drupalorg.phar --clobber
